.home{
    font-size: 14px;
    line-height: 1.5;

    .header{
        padding: 16px;
        font-size: 14px;
        line-height: 1.5;
        color: hsla(0,0%,100%,.7);
        background-color: #24292e;
    }


}